*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
}
header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #ccc;
}
header a{
    text-decoration: none;
    padding: 20px;
    color: #222;
    font-size: 1.2em;
    font-weight: bold;
    transition: all 0.8s;
}
nav{
    transition: all 0.8s;
}
 nav:hover a{
    opacity: 0.2;
    filter: blur(1px);
}

nav a:hover{
    opacity: 1;
    filter: blur(0px);
}

